{
  "TWITCH_CLIENTID"    :"",
  "TWITCH_CLIENTSECRET":"",
  "DISCORD_TOKEN"      :"",

  "discordGuild": "",
  "discordChannel": "",

  "monitors":[
    { "twitchUsername": "", "allowGames":[] },
  ]
}
